body{
  margin:0;
  background:#0a0c14;
  color:white;
  font-family:Arial;
}

header{
  text-align:center;
  padding:15px;
  background:#111;
  color:gold;
}

.container{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  padding:20px;
}

#chart{
  flex:1 1 60%;
  height:60vh;
  border:1px solid #333;
  border-radius:10px;
}

.panel{
  flex:1 1 35%;
  background:#111827;
  padding:20px;
  border-radius:12px;
}

button{
  padding:10px;
  width:100%;
  background:gold;
  font-weight:bold;
  border:none;
  cursor:pointer;
  margin-bottom:10px;
}

select{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}

.box{
  background:#1f2937;
  padding:10px;
  border-radius:10px;
}

.signal{
  text-align:center;
  padding:10px;
  font-weight:bold;
  margin-top:10px;
}

.buy{
  color:#00ff88;
  text-shadow:0 0 10px #00ff88;
}

.sell{
  color:#ff4444;
  text-shadow:0 0 10px #ff4444;
}